:root {
  --bg: rgb(26, 24, 31);
  --primary: white;
}

* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  color: var(--primary);
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  background-color: var(--bg);
}

#page {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}
#page i {
  margin-right: 1rem;
}

/* Navbar */
#page header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
#page header #dt {
  font-size: 2.1rem;
}
#page header #menu-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#page header #menu-icon span {
  display: block;
  margin: 0.4rem 0;
  width: 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom 0.2s, width 0.4s;
}
#page header #menu-icon:hover span {
  border-bottom: 1px solid var(--primary);
}
#page header #menu-icon:hover span:nth-child(2) {
  width: 0.75rem;
}
#page header #menu-icon:hover span:nth-child(3) {
  width: 1.5rem;
}

/* Main Data */
#page main {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page main .data {
  display: none;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
}

#page main .data.show {
  display: flex;
}

/* Clock */
#page main #clock #watch {
  color: var(--primary);
  font-size: 10rem;
  margin-bottom: 2rem;
}
#page main #clock #watch #dots {
  animation: Blink 2s infinite step-end;
}
#page main #clock #date {
  font-size: 2rem;
  opacity: 75%;
}

/* Chronometer */
#page main #chronos {
  font-size: 12rem;
}
#page main #chronos #timer {
  color: red;
  position: relative;
  right: -2rem;
}
#page main #chronos #timer #small,
#page main #chronos #timer #time {
  font-family: Source Code Pro, monospace !important;
}
#page main #chronos #timer #small {
  font-size: 5rem;
}
#page main #chronos #start {
  margin-top: 5rem;
  opacity: 0.6;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 5rem;
  height: 5rem;
  font-size: 1.2rem;
  border-radius: 50%;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  transition: opacity 0.3s;
}
#page main #chronos #start:hover {
  opacity: 1;
  background-color: var(--primary);
}
#page main #chronos #start #start-icon {
  position: relative;
  right: -0.2em;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1.5em solid var(--bg);
}
/* Menu */
#page aside {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5rem 0rem;
  height: 100%;
}
#page aside li {
  margin: 2rem 0;
  text-align: right;
}
#page aside li button {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);

  transition: font-weight 0.1s, color 0.3s;
}

#page aside li:hover button,
#page aside li button.selected {
  color: var(--primary);
  font-weight: 300;
}

/* Footer */
#page footer {
  position: absolute;
  bottom: 2rem;
  opacity: 50%;
  font-size: 1.5rem;

  width: 100%;
  text-align: center;
}

/* Animations */
@keyframes Blink {
  50% {
    opacity: 0;
  }
}

@keyframes AppearHorizontal {
  0% {
    opacity: 0;
    right: -5rem;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
